@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-dismissible fade show mt-1"
         style="background-color:#00c853; color:white; border-color:#00b248;"
         role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}