@{
    ViewData["Title"] = "Home Page";
}

<img class="d-block mx-auto mb-4 img-fluid" src="~/images/header-start-hogalid.jpg" alt="parked cars">

<h1>Safe. Easy. Convenient.</h1>

<p>Park your car quickly and securely. Modern facilities, 24/7 access, and hassle-free parking.</p>